<div class="table-wrapper">

  @if (title()) {
  <h2 class="table-title">
    {{ title() }}
  </h2>
  }

  @if (isLoading()) {
  <div class="loading-state">
    <p>Loading data...</p>
  </div>
  }

  @if (isEmpty()) {
  <div class="empty-state-container">
    <p>{{ emptyMessage() }}</p>
  </div>
  }

  @if (showTable()) {
  <app-input-search [value]="searchTerm()" placeholder="Search all columns" (searchChange)="onSearchChange($event)" />

  @if (noResults()) {
  <div class="empty-state-container">
    <p>No results found for your search.</p>
  </div>
  } @else {

  <table class="data-table">

    <thead>
      <tr>

        @for (col of columns(); track col.field) {
        <th>
          <app-sort-header [label]="col.label" [active]="getSortState(col.field).field === col.field"
            [direction]="getSortState(col.field).direction" (sort)="onSort(col.field)" />
        </th>
        }

      </tr>
    </thead>

    <tbody>

      @for (
      row of paginatedData();
      track $index;
      let odd = $odd
      ) {

      <tr [class.odd]="odd">

        @for (col of columns(); track col.field) {

        <td [attr.data-label]="col.label">
          <app-cell-renderer [row]="row" [col]="col" />
        </td>

        }

      </tr>

      }

    </tbody>

  </table>

  <app-pagination [totalItems]="sortedData().length" [pageSize]="pageSize()" [currentPage]="page()"
    (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)" />

  }
  }

</div>