.sort-header {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}
.label {
  user-select: none;
}

.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  width: 1rem;     
  height: 1rem;     
  flex-shrink: 0;   
  img {
    width: 1rem;
    height: 1rem;
  }
}